<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.plasmadonate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".authentication.patientThanksActivity"></activity>
        <activity android:name=".authentication.patientSignupActivity" />
        <activity android:name=".authentication.donorThanksActivity" />
        <activity android:name=".authentication.VerifyPhoneNo" />
        <activity android:name=".authentication.donorSignupActivity" />
        <activity android:name=".authentication.RegisterActivity" />
        <activity android:name=".messages.ChatsActivity" />
        <activity android:name=".patients.SeePatientsActivity" />
        <activity android:name=".profile.DashboardActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>